/* reset */
* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: transparent;
    vertical-align: top;
    outline: 0;
    padding: 0;
    margin: 0;
}

html {
    overflow: auto;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    line-height: 1;
    z-index: 0;
}

body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/* custom styles */

#root ul li {
    list-style-type: none;
}

#root ul li span {
    cursor: pointer;
    display: block;
}

#root ul li span:hover {
    background: #efefef;
}

#root ul li li {
    margin-left: 10px;
}

#root i {
    vertical-align: sub;
    display: inline-block;
}

#root .folder {
    color: #edbc0b;
}

#root .file {
    color: #bbbbbb;
}