/* reset */
* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: transparent;
    vertical-align: top;
    outline: 0;
    padding: 0;
    margin: 0;
}

html {
    overflow: auto;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    line-height: 1;
    z-index: 0;
}

body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/* default */
body {
    font: 400 1em 'Open Sans', sans-serif;
    line-height: 1.4;
    color: #000000;
    min-width: 900px;
}

#page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

header {
    position: relative;
    z-index: 3;
}

#content {
    position: relative;
    z-index: 2;
}

footer {
    position: relative;
    z-index: 1;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
    color: #000000;
    text-align: center;
    line-height: 1;
}

h2 {
    font-weight: normal;
    text-align: center;
    font-size: 1.45em;
    line-height: 1.75;
    color: #252525;
}

h3 {
    font-size: 1.313em;
    font-weight: bold;
    color: #000000;
    line-height: 1;
}

h4 {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.4;;
}

h5 {
    font-weight: bold;
    font-size: 1.1em;
    color: #000000;
    line-height: 1.28;
}

p {
    margin: 0 0 10px;
}

a {
    color: #000000;
}

a:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.disabled {
    display: none;
}

.img-responsive img {
    width: 100%;
    height: auto;
}

.view ul li {
    list-style-type: none;
}

/* form elements */
.form-item {
    margin-top: 18px;
    margin-bottom: 18px;
}

input[type=text], input[type=email], input[type=password], input[type=search], input[type=file], input[type=radio], input[type=checkbox], input[type=submit], textarea {
    border: 1px solid #343638;
    font-family: 'Open Sans', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: baseline;
    box-sizing: border-box;
    transition: all, 0.25s;
    background: #f3f3f3;
    letter-spacing: 0;
    border-radius: 0;
    outline-offset: 0;
    font-size: 0.85em;
    outline: none;
}

input[type=text], input[type=email], input[type=password], input[type=search], input[type=file], input[type=submit], textarea {
    padding: 8px 8px;
}

input[type=text], input[type=email], input[type=password], input[type=search], textarea {
    width: 100%;
}

input[type=file] {
    margin-right: 20px;
}

input[type=submit] {
    cursor: pointer;
}

textarea {
    background-attachment: local;
    height: 180px !important;
    width: 100% !important;
    padding-top: 1px;
    overflow: auto;
}

label {
    display: inline-block;
    font-weight: bold;
}

/* menu */
nav ul {
    margin: 0 -15px;
}

nav ul:after {
    content: "";
    display: table;
    clear: both;
}

nav ul li {
    list-style-type: none;
    float: left;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

/* grid */
.container {
    max-width: 1168px;
    margin: 0 auto;
    padding: 0 60px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

[class*="col-"] {
    box-sizing: border-box;
    padding: 0 15px;
}

.col-1 {
    flex: 0 0 8.3333%;
    max-width: 8.3333%;
}

.col-2 {
    flex: 0 0 16.6666%;
    max-width: 16.6666%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

.col-5 {
    flex: 0 0 41.6666%;
    max-width: 41.6666%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
}

.col-8 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}

.col-11 {
    flex: 0 0 91.6666%;
    max-width: 91.6666%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/*
* My custom styles
*/
#page {
    box-sizing: border-box;
    margin-bottom: -520px;
    padding-bottom: 520px;
}

/* header */
header {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}

header .container {
    padding-top: 29px;
}

header .column {
    display: flex;
    align-items: center;
}

header .column:last-child {
    justify-content: flex-end;
}

#logo {
    margin: 0 -15px;
}

#logo a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.873em;
    letter-spacing: 3px;
    padding: 15px;
}

/* Block main menu */
#block--main-menu {
    padding-bottom: 3px;
}

#block--main-menu nav ul li {
    margin: 0 17px;
}

#block--main-menu nav ul li a {
    position: relative;
    font-size: 0.873em;
    color: #ffffff;
}

#block--main-menu nav ul li a:after {
    transition: background 0.25s linear;
    background: transparent;
    position: absolute;
    opacity: 0.75;
    height: 2px;
    content: "";
    margin: 0 7px;
    bottom: 1px;
    left: 0;
    right: 0;
}

#block--main-menu nav ul li a:hover:after {
    background: rgba(183, 200, 217, 0.5);
}

#block--main-menu nav ul li a.active:after {
    background: #b7c8d9;
}

/* main */
#content--first-row {
    background: url("../img/apples.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
}

#content--second-row {
    padding: 130px 0 135px;
}

#content--third-row {
    background: #f3f3f3;
    padding: 141px 0 180px;
}

/* Block read more */
#block--read-more {
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #ffffff;
    height: 740px;
}

#block--read-more .content {
    width: 100%;
    padding-bottom: 100px;
}

#block--read-more h1 {
    text-transform: uppercase;
    display: inline-block;
    font-weight: normal;
    letter-spacing: 10px;
    padding: 0 0 12px 0;
    position: relative;
    font-size: 3em;
    color: #ffffff;
}

#block--read-more h1 sup {
    position: absolute;
    font-size: 0.54em;
    bottom: 39px;
    left: 100%;
}

#block--read-more h1 span {
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    vertical-align: text-bottom;
}

#block--read-more .description {
    padding-bottom: 175px;
    font-size: 0.873em;
}

#block--read-more .button-more a {
    transition: background 0.25s linear;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #ffffff;
    text-decoration: none;
    display: inline-block;
    min-width: 195px;
    padding: 22px 15px;
    font-size: 0.873em;
    color: #ffffff;
    line-height: 1;
}

#block--read-more .button-more a:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* Block content about first */
#block--content-about-first .content {
    font-size: 1.45em;
    line-height: 1.75;
    color: #252525;
}

/* Block content about second */
#block--content-about-second {
    padding-top: 4px;
}

#block--content-about-second .content {
    font-size: 0.88em;
    line-height: 1.45;
}

/* Block latest articles */
#block--latest-articles {
    padding-bottom: 76px;
}

#block--latest-articles h2 {
    padding-bottom: 66px;
}

#block--latest-articles .view ul li {
    padding-top: 15px;
    padding-bottom: 15px;
}

#block--latest-articles .li-item {
    overflow: hidden;
    position: relative;
}

#block--latest-articles .field-image a:after {
    background: linear-gradient(rgba(255,255,255,0.001), rgba(0, 0, 0, 0.5));
    position: absolute;
    height: 110px;
    content: "";
    z-index: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#block--latest-articles .field-total-likes {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #ffffff;
    position: absolute;
    text-align: center;
    right: 19px;
    top: 19px;
    text-decoration: none;
    display: inline-block;
    padding: 9px;
    min-width: 50px;
    font-size: 0.873em;
    color: #ffffff;
    line-height: 1;
}

#block--latest-articles .field-total-likes:after {
    content: "❤";
    display: inline-block;
    font-size: 1.3em;
    vertical-align: text-top;
    margin: 0 3px;
}

#block--latest-articles .description {
    position: absolute;
    line-height: 1;
    color: #ffffff;
    font-size: 1.1em;
    z-index: 1;
    bottom: 31px;
    left: 36px;
}

#block--latest-articles .field-country {
    font-weight: bold;
}

#block--latest-articles .li-item img {
    transition: transform 0.35s linear;
}

#block--latest-articles .li-item:hover img {
    transform: translate3d(0,0,0) scale(1.15);
}

/* Block content subscribe */
#block--content-subscribe {
    background: #ffffff;
    text-align: center;
    padding: 70px 0 71px;
}

#block--content-subscribe .form-item {
    margin: 0;
}

#block--content-subscribe .form-item:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

#block--content-subscribe form {
    display: inline-block;
    position: relative;
}

#block--content-subscribe form label {
    font-weight: normal;
    text-align: center;
    font-size: 1.45em;
    line-height: 1.26;
    color: #252525;
    margin-right: 55px;
}

#block--content-subscribe form input[type=email] {
    border-right: #343638;
    margin-right: 170px;
    padding: 19px 27px;
    font-size: 0.873em;
    color: #000000;
    width: 430px;
}

#block--content-subscribe form input[type=email]::placeholder {
    color: #000000;
}

#block--content-subscribe form input[type=submit] {
    position: absolute;
    background: #343638;
    border-color: #343638;
    padding: 19px 15px;
    font-size: 0.873em;
    color: #ffffff;
    width: 171px;
    right: 0;
    top: 0;
}

#block--content-subscribe form input[type=submit]:hover {
    opacity: 0.8;
}

/* footer */
footer h5 {
    padding-top: 30px;
    padding-bottom: 19px;
}

footer .content {
    font-size: 0.873em;
    line-height: 1.7;
    color: #9e9e9e;
}

footer .content a {
    text-decoration: none;
    color: #9e9e9e;
}

footer .content a:hover {
    text-decoration: underline;
}

#footer--first-row {
    display: flex;
    min-height: 440px;
    align-items: center;
}

#footer--first-row .content {
    font-weight: 600;
}

#footer--second-row .container:before {
    content: "";
    display: block;
    border-top: 2px solid #f0f0f0;
}

#footer--second-row .row {
    margin-top: -1px;
}

#footer--second-row .column {
    display: flex;
    min-height: 78px;
    align-items: center;
}

#footer--second-row .column:last-child {
    justify-content: flex-end;
}

/* Block footer latest tweet */
#block--footer-latest-tweet .field-body {
    font-style: italic;
}

#block--footer-latest-tweet .field-date {
    color: #dbdbdb;
    font-weight: normal;
}

/* Block footer subscribe */
#block--footer-subscribe .description {
    padding-bottom: 31px;
}

#block--footer-subscribe form {
    position: relative;
}

#block--footer-subscribe .form-item {
    margin: 0;
}

#block--footer-subscribe .form-item:first-child {
    box-sizing: border-box;
    padding-right: 100px;
}

#block--footer-subscribe form input[type=email] {
    border-right: #343638;
    padding: 16px 27px;
    font-size: 0.873em;
    font-weight: 600;
    color: #9e9e9e;
}

#block--footer-subscribe form input[type=email]::placeholder {
    font-style: italic;
    color: #9e9e9e;
}

#block--footer-subscribe form input[type=submit] {
    position: absolute;
    background: #343638;
    border-color: #343638;
    padding: 16px 15px;
    font-size: 0.873em;
    font-weight: 600;
    color: #ffffff;
    width: 100px;
    right: 0;
    top: 0;
}

#block--footer-subscribe form input[type=submit]:hover {
    opacity: 0.8;
}

/* Block copyright */
#block--copyright p {
    margin-bottom: 0;
}

/* Block footer menu */
#block--footer-menu nav ul li a {
    color: #000000;
}