$defFontColor: #000000;
$bodyBg: #dcbb9a;
$contentBg: #ffffff;
$formBg: $contentBg;
$headingColor: #893c00;
$linkColor: #3d70a1;

$tableCaptionColor: $defFontColor;
$tableHeadBg: #e0e0e0;
$tableHeadBorder: $contentBg;
$tableHeadColor: $defFontColor;
$tableBorder: $tableHeadBg;
$tableBodyBg: $contentBg;

$formFontColor: #808080;
$formLabelColor: $formFontColor;
$formBorderColor: $tableHeadBg;

$formSubmitBorder: $linkColor;
$formSubmitColor: $linkColor;
$formSubmitBg: $contentBg;

$blockquoteBg: #fadcba;
$blockquoteFontColor: $defFontColor;